<mat-toolbar class="sub-toolbar">
    <mat-toolbar-row>
        <span class="toolbar-header"></span>
        <span class="flex-expand"></span>
        <span flex></span>
        <button class="right-space" mat-raised-button color="accent" routerLink="/file-uploader">
            Import Contacts   
        </button>
        <button mat-raised-button color="primary" routerLink="new">
            Create Contact   
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="content-card">

    <form class="filter-form" [formGroup]="filterForm" #ngForm="ngForm" (submit)="applyFilter()">
        <div>
            <mat-form-field appearance="outline" class="mat-filter-field-input">
                <mat-label>Name contains</mat-label>
                <input matInput formControlName="filterContactName">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-filter-field-input">
                <mat-label>Agent</mat-label>
                <mat-select formControlName="filterEntityOwner">
                    <mat-option *ngFor="let entityOwnerFilter of entityOwnerFilters" [value]="entityOwnerFilter.value">
                        {{ entityOwnerFilter.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-filter-field-input">
                <mat-label>Source</mat-label>
                <mat-select formControlName="filterContactSource">
                    <mat-option [value]="'ALL'">All</mat-option>
                    <mat-option *ngFor="let contactSourceFilter of contactSourceFilters" [value]="contactSourceFilter.value">
                        {{ contactSourceFilter.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-filter-field-input">
                <mat-label>Create Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="filterAddTimestamp">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button class="button-space" mat-raised-button color="accent">Submit</button>
            <button class="button-space" mat-raised-button color="accent" type="button" (click)="resetFilterForm()">Reset</button>
        </div>
        <div>
            <button class="button-space" mat-raised-button color="accent" (click)="exportTable()">
                Export List  
            </button>
        </div>
    </form>

    <table mat-table [dataSource]="dataSource" class="list-table list-table-with-filters" matSort #contactTbSort="matSort">

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let contact">
                <a class="link-style" routerLink="{{contact.id}}">
                    {{contact.firstName}} {{contact.lastName}} 
                </a>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <!-- TODO what TF do these classes do here ??? -->
            <td mat-cell class="description-cell" *matCellDef="let contact">
                <a [href]="'mailto:' + contact.email">{{ contact.email }}</a>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell class="duration-cell" *matCellDef="let contact">
                {{contact.phone}}
            </td>
        </ng-container>
    
        <ng-container matColumnDef="accountName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
            <td mat-cell class="duration-cell" *matCellDef="let contact">
                <a class="link-style" [routerLink]="['/accounts/', contact.accountId ]">
                    {{contact.accountName}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="agentName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Agent</th>
            <td mat-cell class="duration-cell" *matCellDef="let contact">
                {{contact.agentName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="lastChangeTimestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Change</th>
            <td mat-cell *matCellDef="let contact">
                <span *ngIf="contact.lastChangeTimestamp">
                    {{contact.lastChangeTimestamp | dateTimeLocalPipe}}
                </span>
                <span *ngIf="!contact.lastChangeDescription">
                    No history found
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
    </table>

</mat-card>