<mat-toolbar class="sub-toolbar">
    <mat-toolbar-row>
        <span class="toolbar-header"></span>
        <span class="flex-expand"></span>
        <span flex></span>
        <button class="button-spacer" mat-raised-button color="primary" routerLink="new">
            Create Account
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="content-card">

    <form class="filter-form" [formGroup]="filterForm" #ngForm="ngForm" (submit)="applyFilter()">
        <div>
            <mat-form-field appearance="outline" class="mat-filter-field-input">
                <mat-label>Account Agent</mat-label>
                <mat-select formControlName="filterEntityOwner">
                    <mat-option *ngFor="let entityOwnerFilter of entityOwnerFilters" [value]="entityOwnerFilter.value">
                        {{ entityOwnerFilter.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="button-space" mat-raised-button color="accent">Submit</button>
            <button class="button-space" mat-raised-button color="accent" type="button" (click)="resetFilterForm()">Reset</button>
        </div>
        <div>
            <button class="button-space" mat-raised-button color="accent" (click)="exportTable()">
                Export List  
            </button>
        </div>
    </form>

    <table mat-table [dataSource]="dataSource" class="list-table list-table-with-filters">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Account Name</th>
            <td mat-cell *matCellDef="let account"> 
                <!-- TODO: [routerLink] as opposed to routerLink (no brackets)
                        breaks the color rule, which makes the text purpleish -->
                <a [routerLink]="['/accounts', account.id]">
                    {{account.name}}
                </a>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="industry">
            <th mat-header-cell *matHeaderCellDef>Industry</th>
            <td mat-cell *matCellDef="let account"> {{account.industry | enumMap: industries}} </td>
        </ng-container>
    
        <ng-container matColumnDef="billingProvinceState">
            <th mat-header-cell *matHeaderCellDef>Province/State</th>
            <td mat-cell *matCellDef="let account"> {{account.billingProvinceState}} </td>
        </ng-container>
    
        <ng-container matColumnDef="billingCountry">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let account"> {{account.billingCountry}} </td>
        </ng-container>
    
        <ng-container matColumnDef="accountType">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let account"> {{account.accountType}} </td>
        </ng-container>
    
        <ng-container matColumnDef="agentName">
            <th mat-header-cell *matHeaderCellDef>Agent</th>
            <td mat-cell *matCellDef="let account"> {{account.agentName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastChange">
            <th mat-header-cell *matHeaderCellDef>Last Change</th>
            <td mat-cell *matCellDef="let account">
                <span *ngIf="account.lastChangeDescription">
                    {{account.lastChangeTimestamp | dateTimeLocalPipe}}
                </span>
                <span *ngIf="!account.lastChangeDescription">
                    No history found
                </span>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</mat-card>