<mat-toolbar>
    <mat-toolbar-row>
        <!-- TODO the ternary is a weird way to avoid a null, look into this -->
        <span class="toolbar-header">{{ task ? task.description : "" }}</span>
        <span class="flex-expand"></span>
        <span flex></span>
        <!-- -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <!-- FYI icon list is here https://mui.com/material-ui/material-icons/?query=edit -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="complete()" [disabled]="!canComplete">
            <mat-icon>done</mat-icon>
            <span>Complete</span>
          </button>
          <button mat-menu-item (click)="completeAndCreate()" [disabled]="!canComplete">
            <mat-icon>add_task</mat-icon>
            <span>Complete & Create New</span>
          </button>
          <button mat-menu-item (click)="delete()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item (click)="close(false)">
            <mat-icon>close</mat-icon>
            <span>Close</span>
          </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<form class="standard-form" *ngIf="task">

    <mat-card class="form-card">

        <div class="sub-title">
            Task Information
        </div>

        <table class="detail-table">
            <tr>
                <td>Description</td>
                <td>{{ task.description }}</td>
                <td>Due Date</td>
                <td>{{ task.dueDate | dateUTCPipe }}</td>
            </tr>
            <tr>
                <td>Related Contact</td>
                <td>{{ task.contactName }}</td>
                <td>Related Account</td>
                <td>{{ task.accountName }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ task.status }}</td>
                <td>Priority</td>
                <td>{{ task.priority }}</td>
            </tr>
            <tr>
                <td>Owner</td>
                <td>{{ task.agentName }}</td>
            </tr>
            <tr>
                <td>Notes</td>
                <td colspan="3">{{ task.notes }}</td>
            </tr>
        </table>
    </mat-card>
    
    <app-history-sub-list [taskId]=id></app-history-sub-list>

</form>