<mat-toolbar>
    <mat-toolbar-row>
        <!-- TODO the ternary is a weird way to avoid a null, look into this -->
        <span class="toolbar-header">{{agent ? agent.firstName : ""}} {{agent ? agent.lastName : ""}}</span>
        <span class="flex-expand"></span>
        <span flex></span>
        <button class="right-space" mat-raised-button color="primary" routerLink="edit">
            Edit Agent
        </button>
        <button mat-raised-button color="warn" (click)="openDialog('0ms', '0ms')">
            Delete
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<form *ngIf="agent">

    <mat-card class="form-card">

        <div class="sub-title">
            Agent Information
        </div>

        <table class="detail-table">
            <tr>
                <td>First Name</td>
                <td>{{ agent.firstName }}</td>
                <td>Last Name</td>
                <td>{{ agent.lastName }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ agent.email }}</td>
                <td>Parent</td>
                <td>{{ agent.parentUserName }}</td>
            </tr>
        </table>
    </mat-card>

</form>